@font-face {
  font-family: 'Droid Serif';
  src: 
    url('fonts/DroidSerif-Regular.ttf') format('truetype'),
    url('fonts/droid-serif.woff') format('woff');
  font-weight: normal; 
  font-style: normal;
  font-display: swap; 
}
html{
  overflow-y: scroll;
}
body{
  overflow-x: hidden;
  user-select: none;
  font-size: 20px;
  font-family: 'Droid Serif', serif;
  /* font-weight: bold; */
  color: #222;
  background: #FFF9F2;
  /* background: radial-gradient(#FFF9F2, #FFF9F2, #fff4f1, #fff4f1); */
	background-size: 400% 400%;
  /* animation: gradient 60s ease infinite; */
}
/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.fade-in{
  opacity: 0;
  animation: fade 1s ease-in forwards;
}

@keyframes fade {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

/* SVG ICONS */
.socials img{
  width: 40px;
  height: auto;
}
#spotify{
  width: 60px;
  margin: -10px 5px 0;
}
#cards{
  transition: height 5s ease-in-out;
}
/* Hi, I'm Matthew */
h1{
  margin: 2px;
  padding: 0 4px;
  font-size: 1.5rem!important;
  border-bottom: 4px solid #111;
  width: fit-content;
  word-spacing: 1rem;
  background-size: 200% 100%;
  background-image: linear-gradient(to left, #f33 49%, transparent 49%);
  background-position: left center;
  transition: all .2s ease-out;
}
h1:hover{
  background-position: right center;
  border-bottom: 4px solid #FF66;
  color: white;
}

/* Highlight h2 */
@keyframes highlighter {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.highlighted-text {
  background-size: 200% 100%;
  background-image: linear-gradient(70deg, #FEF08A 50%, transparent 50%);
  background-position: 100% 0;
  transition: background-position 1.2s ease-in-out;
  animation: highlighter 2.5s linear forwards;
  display: inline-block;
}
.highlighted-text2 {
  background-size: 200% 100%;
  background-image: linear-gradient(90deg, #FEF08A 50%, transparent 50%);
  background-position: 100% 0;
  animation: highlighter 1.5s linear forwards; /* Reuse the same keyframes */
  animation-delay: 2.8s;
  transition: background-position 1.5s ease-in-out;
  display: inline-block;
}
.highlighted-text3 {
  background-size: 200% 100%;
  background-image: linear-gradient(90deg, #FEF08A 50%, transparent 50%);
  background-position: 100% 0;
  animation: highlighter 1.5s linear forwards; /* Reuse the same keyframes */
  animation-delay: 4.8s;
  transition: background-position 1.5s ease-in-out;
  display: inline-block;
}

/* Developer/Designer */
.swap-text {
  position: relative;
  display: inline-block;
}

.swap-text:hover::before {
  content: "Designer";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF9F2;
  cursor: pointer;
  transition: all 0.3s ease;
}

#cards, #reset{
  font-family: monospace;
}